body {
  color: white;
  height: 100%;
  overflow: scroll;
}

#bg {
  background: url("./assets/gironde.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  background-attachment: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-top: 20px;
}
.logo {
  width: 102px;
  height: 76.5px;
}
.title {
  font-size: 66px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 20px;
  line-height: 76px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  margin: 20px 0;
  padding: 0 50px;
}
.carte {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.carte-container {
  width: 100%;
  height: 100%;
  flex: 1;
}
.carte-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.departement {
  font-size: 32px;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  background-color: #4a151b;
  text-align: center;
}
path.disabled {
  fill: #dcdbd9;
}
path {
  stroke: #000000;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #fff;
}
g path:hover {
  fill: #4a151b;
  cursor: pointer;
}
g path.disabled:hover {
  fill: #dcdbd9;
  cursor: initial;
}

.hidden {
  display: none;
}
#products {
  font-size: 18px;
  width: 50%;
  height: 100%;
  padding: 0 30px;
}
#products-content {
  padding: 10px;
  background-color: #4a151b;
}

.intro {
  font-size: 24px;
  font-family: "Galada", sans-serif;
  text-align: center;
  color: white;
}

footer {
  text-align: center;
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
}

footer a {
  margin: 10px 0;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  header,
  .content {
    flex-direction: column;
    padding: 0;
  }

  #products {
    width: 100%;
    margin-top: 180px;
    padding: 0;
  }
}
